{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "parser": "typescript",
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "experimentalTernaries": true
}